<div class="jumbotron center">

  <h1>¡Aprendé a programar!</h1>

  <p>Te presentamos una herramienta para aprender
  a programar realizando pequeños desafíos y juegos.</p>



  <div class='descargas center'>
    <p><span>Descargá la última versión para ...</span></p>

    <ul id='descargas'>
      <li><a class='btn btn-info btn-lg' {{bind-attr href='model.link_windows'}}>{{fa-icon "windows"}} &nbsp; Windows</a></li>
      <li><a class='btn btn-warning btn-lg' {{bind-attr href='model.link_mac'}}>{{fa-icon "apple"}} &nbsp; Mac OS X</a></li>
      <li><a class='btn btn-success btn-lg' {{bind-attr href='model.link_deb'}}>{{fa-icon "linux"}} &nbsp; Huayra Linux</a></li>
    </ul>

  </div>

</div>


<div class='center'>
  <img src='imagenes/preview.png'>
</div>


<div class='footer center'>
  <p>Para obtener más información, <a href='https://github.com/hugoruscitti/pilas-engine-bloques'>visitá nuestro repositorio</a>
en github {{fa-icon "fa-github-alt"}}.</p>

  <p class='small'>La versión mas reciente de pilas-engine-bloques es la {{model.version}}, publicada
    en la fecha: {{model.fecha}}.</p>
</div>
