<div class="jumbotron center">

  <h1>¡Vamos a programar!</h1>

  <p>Te presentamos una herramienta para aprender
  a programar realizando pequeños desafíos y juegos.</p>

  <a class='btn btn-primary btn-lg' href='online'>{{fa-icon "cloud"}} &nbsp; Online</a>

  <div class='descargas center'>
    <p><span>{{fa-icon "download"}} &nbsp; Próximamente, podrás descargar la versión {{model.version}} para tu sistema operativo:</span></p>

    <ul id='descargas'>
      <li>
        <a class='btn btn-success btn-lg disabled' style="display:inline-block; position:relative;" {{bind-attr href='model.link_deb'}}>{{fa-icon "linux"}} &nbsp; Huayra Linux</a>
        <p>¡Próximamente!</p>
      </li>
      <li>
        <a class='btn btn-info btn-lg disabled' {{bind-attr href='model.link_windows'}}>{{fa-icon "windows"}} &nbsp; Windows</a>
        <p>¡Próximamente!</p>
      </li>
      <li>
        <a class='btn btn-warning btn-lg disabled' {{bind-attr href='model.link_mac'}}>{{fa-icon "apple"}} &nbsp; Mac OS X</a>
        <p>¡Próximamente!</p>
      </li>
    </ul>

  </div>

</div>


<div class='center'>
  <img src='imagenes/preview.png'>
</div>



<div class="acercade">
{{pilas-acerca-de}}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
      <a href="http://program.ar/" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-programar.jpg" class="logoProgramar attachment-full" alt="logo-educacion"></a>
    </div>

    <div class="col-sm-4">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>

  	<div class="col-sm-3">
  		<a href="http://www.fundacionsadosky.org.ar" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-sadosky.jpg" class="attachment-full" alt="logo-sadosky"></a>
  	</div>
  	<div class="col-sm-3">
  		<a href="http://www.mincyt.gob.ar/" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-mincyt.png" class="attachment-full" alt="logo-minsyt"></a>
  	</div>
    
    <div class="col-sm-3">
    </div>
  </div>
</div>



<div class='footer center'>
  <p>Para obtener más información, <a href='https://github.com/Program-AR/pilas-engine-bloques'>visitá nuestro repositorio</a>
en github {{fa-icon "fa-github-alt"}}.</p>

  <p class='small'>La versión mas reciente de Pilas Bloques es la {{model.version}}, publicada
    en la fecha: {{model.fecha}}.</p>
</div>
