<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74706234-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="jumbotron center">

  <h2>¡Nueva versión BETA de Pilas Bloques!</h2>

  <p>Te presentamos una herramienta para aprender
  a programar realizando pequeños desafíos</p>

</div>

<div class="jumbotron center">
  <h2><i class="fa fa-cloud" aria-hidden="true"></i> Online</h2>

  <div class="descargas center">
    <ul id="descargas" class="online">
      <li>
        <img src="imagenes/1erCiclo.png"/> 
        <a class='btn btn-primary btn-lg' href='online/#/libros/1'>1er Ciclo</a>
        <i>Desafíos del manual para docentes "Ciencias de la Computación para el aula, 1° ciclo de primaria"</i>
      </li>
      <li>
        <img src="imagenes/2doCiclo.png"/>
        <a class='btn btn-primary btn-lg' href='online/#/libros/2'>2do Ciclo</a>
        <i>Desafíos del cuaderno para docentes "Actividades para aprender a Program.AR"  Para 2° ciclo de primaria en adelante.</i>
      </li>
    </ul>
  </div>

  <p><small>Navegadores compatibles: {{fa-icon "firefox"}} Firefox y {{fa-icon "chrome"}} Chrome</small></p>
</div>

<div class="jumbotron center">
  <h2>{{fa-icon "download"}} Descarga</h2>

  <div class='descargas center'>
    <p><span>Descargá la versión {{model.version}} para tu sistema operativo:</span></p>

    <ul id='descargas'>
      <li>
        <a class='btn btn-success btn-lg' {{action "registrarDescarga" "LinuxZipx64" preventDefault=false}} style="display:inline-block; position:relative;" href={{model.link_ziplinux}}>{{fa-icon "linux"}} &nbsp; Linux</a>
      </li>
      <li>
        <a class='btn btn-info btn-lg' {{action "registrarDescarga" "Windows" preventDefault=false}} href={{model.link_windows}}>{{fa-icon "windows"}} &nbsp; Windows</a>
      </li>
      <li>
        <a class='btn btn-warning btn-lg' {{action "registrarDescarga" "Mac" preventDefault=false}} href={{model.link_mac}}>{{fa-icon "apple"}} &nbsp; Mac OS X</a>
      </li>
    </ul>

  </div>

  <p><small><a href="https://github.com/Program-AR/pilas-bloques/releases">Más opciones de descarga {{fa-icon "download"}}</a></small></p>
  <p><small>{{#link-to "requisitos-minimos"}}Cómo instalar y requisitos mínimos {{fa-icon "check"}}{{/link-to}} -  {{#link-to "notas-de-version"}}Notas de versión {{fa-icon "code-fork"}}{{/link-to}}</small></p>

</div>


<div class='center'>
  <img src='imagenes/preview.png'>
</div>



<div class="descripciones">
{{pilas-acerca-de}}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
      <a href="http://program.ar/" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-programar.jpg" class="logoProgramar attachment-full" alt="logo-educacion"></a>
    </div>

    <div class="col-sm-4">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>

  	<div class="col-sm-3">
  		<a href="http://www.fundacionsadosky.org.ar" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-sadosky.jpg" class="attachment-full" alt="logo-sadosky"></a>
  	</div>
  	<div class="col-sm-3">
  		<a href="http://www.mincyt.gob.ar/" target="_blank"><img width="360" height="100" src="imagenes/logos/logo-mincyt.png" class="attachment-full" alt="logo-minsyt"></a>
  	</div>

    <div class="col-sm-3">
    </div>
  </div>
</div>



<div class='footer center'>
  <p>Para obtener más información, <a href='https://github.com/Program-AR/pilas-bloques'>visitá nuestro repositorio</a>
en github {{fa-icon "fa-github-alt"}}.</p>

  <p class='small'>La versión mas reciente de Pilas Bloques es la {{model.version}}, publicada
    en la fecha: {{model.fecha}}.</p>
</div>
