<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74706234-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="jumbotron center">
  <h2>¿Entraste a <a href="http://program.ar/programar-en-casa/">Program.AR en casa</a>?</h2>
  <p>En <a href="http://program.ar/programar-en-casa/">Program.AR en casa</a> encontrarás 
  mucho material, muchas herramientas y una explicación de cómo usar Pilas Bloques</p>
</div>

<div class="jumbotron center">
  <h2><i class="fa fa-cloud" aria-hidden="true"></i> Online</h2>

  <div class="descargas center">
    <ul id="descargas" class="online">
      <li>
        <img src="imagenes/1erCiclo.png"/> 
        <a class='btn btn-primary btn-lg' href='online/#/libros/1'>Primer Ciclo</a>
        <i class="descripcionLibros">Desafíos del manual para docentes "Ciencias de la Computación para el aula, 1° ciclo de primaria"</i>
        <i><a href="https://program.ar/material-didactico#manuales-docentes">Manual para docentes: aquí</a></i>
      </li>
      <li>
        <img src="imagenes/2doCiclo.png"/>
        <a class='btn btn-primary btn-lg' href='online/#/libros/2'>Segundo Ciclo</a>
        <i class="descripcionLibros">Desafíos del cuaderno para docentes "Actividades para aprender a Program.AR"  Para 2° ciclo de primaria en adelante.</i>
        <i><a href="https://program.ar/material-didactico#cuadernillos">Cuaderno para docentes: aquí</a></i>
      </li>
      <li>
        <img src="imagenes/tecnopolis.png"/>
        <a class='btn btn-primary btn-lg' href='online/#/libros/100'>Tecnopolis</a>
        <i class="descripcionLibros">Desafíos de Tecnopolis 2021</i>
      </li>
    </ul>
  </div>

  <p><small>Navegadores compatibles: {{fa-icon "firefox"}} Firefox y {{fa-icon "chrome"}} Chrome</small></p>
</div>

<div class="jumbotron center">
  <h2>{{fa-icon "download"}} Descarga</h2>

  <div class='descargas center'>
    <p><span>Descargá la versión {{model.version}} para tu sistema operativo:</span></p>

    <ul id='descargas'>
      <li>
        <a class='btn btn-success btn-lg' {{action "registrarDescarga" "LinuxDebx64" preventDefault=false}} style="display:inline-block; position:relative;" href={{model.link_deb}}>{{fa-icon "linux"}} &nbsp; Debian/Ubuntu</a>
      </li>
      <li>
        <a class='btn btn-success btn-lg' {{action "registrarDescarga" "LinuxZipx64" preventDefault=false}} style="display:inline-block; position:relative;" href={{model.link_ziplinux}}>{{fa-icon "linux"}} &nbsp; Linux Portable</a>
      </li>
      <li>
        <a class='btn btn-info btn-lg' {{action "registrarDescarga" "Windows" preventDefault=false}} href={{model.link_windows}}>{{fa-icon "windows"}} &nbsp; Windows</a>
      </li>
      <li>
        <a class='btn btn-warning btn-lg' {{action "registrarDescarga" "Mac" preventDefault=false}} href={{model.link_mac}}>{{fa-icon "apple"}} &nbsp; Mac OS X</a>
      </li>
    </ul>

  </div>

  <p><small><a href="https://github.com/Program-AR/pilas-bloques/releases">Más opciones de descarga {{fa-icon "download"}}</a></small></p>
  <p><small>{{#link-to "requisitos-minimos"}}Cómo instalar y requisitos mínimos {{fa-icon "check"}}{{/link-to}} -  {{#link-to "notas-de-version"}}Notas de versión {{fa-icon "code-fork"}}{{/link-to}}</small></p>

</div>


<div class='center'>
  <img src='imagenes/preview.png'>
</div>



<div class="descripciones">
  <DescripcionAcercaDe />
</div>

<div class="center">
    <a href="http://program.ar/" target="_blank"><img src="imagenes/logos/logo-programar.jpg" alt="logo-educacion"></a>
  	<a href="http://www.fundacionsadosky.org.ar" target="_blank"><img src="imagenes/logos/logo-sadosky.jpg" alt="logo-sadosky"></a>
</div>


<div class='footer center'>
  <p>Para obtener más información, <a href='https://github.com/Program-AR/pilas-bloques'>visitá nuestro repositorio</a>
en github {{fa-icon "fa-github-alt"}}.</p>

</div>
