<div class="descripciones">

<h1>Instalación y Requisitos mínimos</h1>

<h2>Requisitos generales {{fa-icon "laptop"}}</h2>
<ul>
  <li>La aplicación está preparada para correr en pantallas con resoluciones 1024x600 ó superiores.</li>
  <li>Dependiendo del sistema operativo, ocupa instalada entre 100 MB y 200 MB de espacio en disco.</li>
  <li>Dependiendo del sistema operativo, requiere entre 100 MB y 200 MB de memoria RAM.</li>
  <li>Los sistemas operativos sobre los que corre la aplicación son los mismos donde corre {{#pilas-link href='https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md'}}Electron{{/pilas-link}} (Abajo el detalle).</li>
</ul>

<h2>Versión Online {{fa-icon "fa-cloud"}}</h2>
<p>En su versión online (sin instalación) la aplicación no está preparada para correr en navegadores como Internet Explorer ó Microsoft Edge.
  Funciona correctamente en {{#pilas-link href='https://www.mozilla.org/es-AR/firefox/new/'}}{{fa-icon "firefox"}} Mozilla Firefox{{/pilas-link}} y {{#pilas-link href='https://www.google.es/intl/es/chrome/browser/desktop/'}}{{fa-icon "chrome"}} Google Chrome{{/pilas-link}}.</p>

<h2>Windows {{fa-icon "windows"}}</h2>
<p>La aplicación puede instalarse en cualquier versión de Microsoft Windows, siempre que esta sea
igual ó superior a Windows 7 SP1 (32 ó 64 bits).</p>

<p>Para correrla en Windows XP, se recomienda la versión online de la aplicación.
Por ahora, también puede descargarse una {{#pilas-link href='https://github.com/Program-AR/pilas-bloques/releases'}}versión antigua{{/pilas-link}} como por ejemplo la {{#pilas-link href='https://github.com/Program-AR/pilas-bloques/releases/download/1.0.0/pilas-bloques-1.0.0.exe'}}versión 1.0.0{{/pilas-link}}.</p>

<h3>Instalación</h3>
<p>Para instalar la aplicación, se puede hacer ejecutando el instalador .exe descargado.</p>
<p>En particular en Windows 8 y posteriores, hay que decirle específicamente a Windows que se puede confiar
en el instalador, seleccionando "Más Información" y "Ejecutar de todas formas" en el diálogo que aparece, de esta forma:</p>
<img src="imagenes/WinInstall1.png"/> <img src="imagenes/WinInstall2.png"/>

<h2>Mac OS {{fa-icon "apple"}}</h2>
<p>Puede correrse en cualquier versión de Mac OS igual ó superior a la versión 10.9</p>

<h3>Instalación</h3>
<p>Para instalar la aplicación, se puede hacer ejecutando el instalador .dmg descargado.</p>

<h2>Linux {{fa-icon "linux"}}</h2>
<p>Las versiones de Linux sobre las que puede instalarse Pilas Bloques son las siguientes (ver {{#pilas-link href='https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md'}}aquí{{/pilas-link}}):</p>
<ul>
  <li>{{#pilas-link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra{{/pilas-link}} 2 y posteriores (¡Ya viene preinstalado! <img src="imagenes/emoji-glasses.png"/>)</li>
  <li>Ubuntu 12.04 y posteriores</li>
  <li>Debian 8 y posteriores</li>
</ul>

<h3>Instalación</h3>
<p>En {{#pilas-link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra Linux{{/pilas-link}}
  no es necesario instalarlo, ya que la aplicación forma parte del conjunto de aplicaciones
  base con las que se distribuye el sistema operativo.</p>
<p>Para otros Linux es necesario antes tener el paquete "electron" previamente instalado. Ese paquete puede obtenerse {{#pilas-link href='https://github.com/Program-AR/pilas-bloques/releases'}}en nuestro repositorio de Github{{/pilas-link}}, con el nombre "electron_version_arquitectura.deb".</p>
<p>Una vez instalado electron (ejecutando el instalador .deb) se puede proceder a ejecutar el instalador .deb de Pilas Bloques. Notar que ambas instalaciones requieren permisos de administrador.</p>

<h3>Portable</h3>
  <p>A partir de la versión 1.3.3, {{#pilas-link href='https://github.com/Program-AR/pilas-bloques/releases'}}en nuestro repositorio{{/pilas-link}} se encontrará una versión portable de la aplicación (que no necesita instalación), en particular para Linux. Para correr Pilas Bloques:</p>
  <ul>
    <li>Descargar el ".zip" correspondiente a la arquitectura de tu Linux (x64: 64 bits, ia32: 32 bits).</li>
    <li>Extraer el contenido del archivo comprimido.</li>
    <li>Ejecutar el archivo "pilasBloques".</li>
  </ul>
  <p>Podría suceder que ni siquiera abra el archivo al hacer doble click. En ese caso se debe instalar la siguiente dependencia, ya sea escribiendo en la consola:  </p>
  <blockquote> sudo apt-get install libgconf-2-4 </blockquote>
  <p>o desde el gestor de paquetes de Linux buscar e instalar el paquete "libgconf-2-4".</p>
</div>
