<div class="descripciones">

<h1>Instalación y Requisitos mínimos</h1>

<h2>Requisitos generales {{fa-icon "laptop"}}</h2>
<ul>
  <li>La aplicación está preparada para correr en pantallas con resoluciones 1024x600 ó superiores.</li>
  <li>Dependiendo del sistema operativo, ocupa instalada entre 100 MB y 200 MB de espacio en disco.</li>
  <li>Dependiendo del sistema operativo, requiere entre 100 MB y 200 MB de memoria RAM.</li>
  <li>Los sistemas operativos sobre los que corre la aplicación son los mismos donde corre {{#link href='https://github.com/electron/electron/blob/master/docs/tutorial/support.md#supported-platforms'}}Electron{{/link}} (Abajo el detalle).</li>
</ul>

<h2>Versión Online {{fa-icon "fa-cloud"}}</h2>
<p>En su versión online (sin instalación) la aplicación no está preparada para correr en navegadores como Internet Explorer ó Microsoft Edge.
  Funciona correctamente en {{#link href='https://www.mozilla.org/es-AR/firefox/new/'}}{{fa-icon "firefox"}} Mozilla Firefox{{/link}} y {{#link href='https://www.google.es/intl/es/chrome/browser/desktop/'}}{{fa-icon "chrome"}} Google Chrome{{/link}}.</p>

<h2>Windows {{fa-icon "windows"}}</h2>
<p>La aplicación puede instalarse en cualquier versión de Microsoft Windows, siempre que esta sea
igual ó superior a Windows 7 SP1 (32 ó 64 bits).</p>

<p>Para correrla en Windows XP, se recomienda la versión online de la aplicación.
Por ahora, también puede descargarse una {{#link href='https://github.com/Program-AR/pilas-bloques/releases'}}versión antigua{{/link}} como por ejemplo la {{#link href='https://github.com/Program-AR/pilas-bloques/releases/download/1.0.0/pilas-bloques-1.0.0.exe'}}versión 1.0.0{{/link}} ó la {{#link href='https://github.com/Program-AR/pilas-bloques/releases/download/1.1.2/pilas-bloques-1.1.2.exe'}}versión 1.1.2{{/link}}.</p>

<h3>Instalación</h3>
<p>Para instalar la aplicación, se puede hacer ejecutando el instalador .exe descargado.</p>
<p>En particular en Windows 8 y posteriores, hay que decirle específicamente a Windows que se puede confiar
en el instalador, seleccionando "Más Información" y "Ejecutar de todas formas" en el diálogo que aparece, de esta forma:</p>
<img src="imagenes/WinInstall1.png"/> <img src="imagenes/WinInstall2.png"/>

<h2>Mac OS {{fa-icon "apple"}}</h2>
<p>Puede correrse en cualquier versión de Mac OS igual ó superior a la versión 10.10 (Yosemite)</p>

<h3>Instalación</h3>
<p>Para instalar la aplicación, se puede hacer ejecutando el instalador .dmg descargado.</p>
<img src="imagenes/MacInstall1.png"/>
<p>Al ejecutar el instalador se abrirá una carpeta como esta:</p>
<img src="imagenes/MacInstall2.png"/>
<p>Arrastrar la aplicación pilasbloques.app a la carpeta de "Aplicaciones".
    Luego presionar Command-Espacio y en el diálogo de búsqueda escribir "pilasbloques.app"</p>
  <img src="imagenes/MacInstall21.png"/>
<p>La primera vez se presentará un error como este:</p>
  <img src="imagenes/MacInstall3.png"/>
  <p>Presionar "Cancelar" y abrir las "Preferencias del Sistema", las opciones de "Seguridad y Privacidad"
    Allí elegir "Abrir de todos modos"</p>
<img src="imagenes/MacInstall4.png"/>
  <p>Finalmente cuando el siguiente diálogo aparezca, elegir "Abrir"</p>
  <img src="imagenes/MacInstall5.png"/>
  <p>Para que Pilas Bloques quede en la barra de tareas presionar botón izquierdo del mouse sobre la imagen de la aplicación
  y elegir "Mantener en el Dock"</p>
  <img src="imagenes/MacInstall6.png"/>

<h2>Linux {{fa-icon "linux"}}</h2>
<p>Las versiones de Linux sobre las que puede instalarse Pilas Bloques son las siguientes (ver {{#link href='https://github.com/electron/electron/blob/master/docs/tutorial/support.md#supported-platforms'}}aquí{{/link}}):</p>
<ul>
  <li>{{#link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra{{/link}} 2 y posteriores</li>
  <li>Ubuntu 12.04 y posteriores</li>
  <li>Debian 8 y posteriores</li>
</ul>

<h3>Instalación</h3>
<p>La versión actual de Pilas Bloques puede ejecutarse de dos formas:</p>
<ol>
  <li>Portable. No requiere permisos de administrador ni instalación. Por ahora recomendamos esta forma.</li>
  <li><strong>Desinstalando versiones viejas</strong> e instalando con permisos de administrador el nuevo paquete .deb provisto {{#link href='https://github.com/Program-AR/pilas-bloques/releases'}}aquí{{/link}}. Es muy importante <strong>desinstalar la versión anterior</strong> antes de instalar la nueva, de lo contrario existirán dos Pilas Bloques en su sistema.</li>
</ol>

<p><strong>Nota:</strong> En la versiones anteriores a 1.3, era necesario tener el paquete "electron" previamente instalado. Ahora ya no es necesario. Ese paquete puede obtenerse {{#link href='https://github.com/Program-AR/pilas-bloques/releases'}}en nuestro repositorio de Github{{/link}}, con el nombre "electron_version_arquitectura.deb".</p>

<p>En {{#link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra Linux{{/link}} se puede actualizar automáticamente hasta la versión 1.1.2, ya que la aplicación forma parte del conjunto de aplicaciones base con las que se distribuye el sistema operativo. Para versiones posteriores de Pilas Bloques hacer la instalación general en Linux.</p>
<h3>Portable</h3>
<p>A partir de la versión 1.3.3, {{#link href='https://github.com/Program-AR/pilas-bloques/releases'}}en nuestro
  repositorio{{/link}} se encontrará una versión portable para linux (que no necesita instalación). Para correr
  Pilas Bloques:</p>
<ul>
  <li>Descargar el ".zip" correspondiente a la arquitectura de tu Linux (x64: 64 bits, ia32: 32 bits).</li>
  <li>Extraer el contenido del archivo comprimido.</li>
  <li>Ejecutar el archivo "pilasbloques".</li>
</ul>
<p>Podría suceder que no abra el archivo al hacer doble click. En ese caso: </p>

<ol>
  <li>
    <p>Asegurarse de tener la libreria libgconf instalada, o proceder escribiendo por consola:</p>
    <code> sudo apt-get install libgconf-2-4</code>
    <p>o desde el gestor de paquetes de Linux buscar e instalar el paquete "libgconf-2-4".</p>
  </li>
  <li>
    <p>Asegurarse de tener el sistema operativos actualizado, o proceder escribiendo por consola:</p>
    <code> sudo apt-get upgrade</code>
  </li>
  <li>
    <p>Pararse en la carpeta de pilas bloques previamente extraida mediante consola con el comando <b>cd</b>, por ejemplo:</p>
    <code>
      cd /home/alumno/descargas/pilasbloques
    </code>
    <p>y luego:</p>
    <code>
      sudo chown root chrome-sandbox
      sudo chmod 4755 chrome-sandbox
    </code>
  </li>
</ol>
<p>Listo, pilas bloques ahora debería funcionar correctamente.</p>
</div>
